#sc{
    text-align: center;
    margin-top: 2rem;
  }
  
.main-content {
    background: #00006b;
    color: white;
    margin: 2rem 0;
    border-radius: 25px;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
  
.main-content h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
  
.main-content h2 span {
    font-size: 0.9rem;
    font-weight: normal;
    margin-left: 1rem;
}

.items{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

