.item{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: #d9c0ad;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    flex: 1;
    min-width: 200px;
    flex-direction: column;
}

.item img{
    width: 100%;
    max-height: 180px;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.item p{
    color: #2c1c0f;
    font-weight: bold;
}